<div th:fragment="content">
  <form th:action="@{/save-user}" method="POST" th:object="${userForm}">
      <div>
          <label for="firstName">First Name</label>
          <input type="text" th:field="*{firstName}" id="firstName" class="form-control" required />
      </div>
      <div>
          <label for="lastName">Last Name</label>
          <input type="text" th:field="*{lastName}" id="lastName" class="form-control" required />
      </div>
      <div>
          <label for="email">Email</label>
          <input type="email" th:field="*{email}" id="email" class="form-control" required />
      </div>
      <div>
          <label for="password">Password</label>
          <input type="password" th:field="*{password}" id="password" class="form-control" required />
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a th:href="@{/list-users}">List</a>
  </form>
</div>
