<div th:fragment="content">
    <h2>Edit User</h2>
    <form th:action="@{/user/update}" method="post">
        <!-- Hidden input to include the user ID -->
        <input type="hidden" name="id" th:value="${user.id}" />

        <label>First Name</label>
        <input type="text" name="firstName" th:value="${user.firstName}" required />
        <br />

        <label>Last Name</label>
        <input type="text" name="lastName" th:value="${user.lastName}" required />
        <br />

        <label>Email</label>
        <input type="email" name="email" th:value="${user.email}" required />
        <br />

        <label>Password</label>
        <input type="password" name="password" th:value="${user.password}" required />
        <br />

        <button type="submit">Save Changes</button>
        <a th:href="@{/list-users}">Cancel</a>
    </form>
</div>
