<div th:fragment="content">
    <form th:action="@{/save}" method="post" th:object="${users_info}">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" th:field="*{firstName}">

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" th:field="*{lastName}">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" th:field="*{email}">

        <label for="price">Price</label>
        <input type="number" name="price" id="price" th:field="*{price}">

        <button type="submit">Click Create</button>
    </form>
    <a th:href="@{/list_form}">List form</a>
</div>
